<nav id="sidebarMenu" class="sidebar bg-focusa text-white">
  <div class="sidebar-inner d-flex flex-column h-100">
    <hr class="border-secondary my-0">

    <ul class="nav nav-pills flex-column p-3 gap-2">
      {% if request.session.is_admin %}
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'dashboard_admin' %}active{% endif %}" href="{% url 'dashboard_admin' %} "
           data-bs-toggle="tooltip" data-bs-placement="right" title="Administrar usuarios">
          <i class="bi bi-speedometer2"></i>
          <span class="label">Dashboard Admin</span>
        </a>
      </li>
      {% endif %}
      {% if request.session.is_admin %}
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'admin_usuarios' %}active{% endif %}" href="{% url 'admin_usuarios' %} "
           data-bs-toggle="tooltip" data-bs-placement="right" title="Administrar usuarios">
          <i class="bi bi-people"></i>
          <span class="label">Administrar Usuarios</span>
        </a>
      </li>
      {% endif %}
      {% if request.session.is_usuario%}
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'kanban' %}active{% endif %}" href="{% url 'kanban' %}"
           data-bs-toggle="tooltip" data-bs-placement="right" title="Kanban">
          <i class="bi bi-house-door"></i>
          <span class="label">Kanban</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}"
           data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
          <i class="bi bi-speedometer2"></i>
          <span class="label">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'calendario' %}active{% endif %}" href="{% url 'calendario' %}"
           data-bs-toggle="tooltip" data-bs-placement="right" title="Calendario">
          <i class="bi bi-calendar-week"></i>
          <span class="label">Calendario</span>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'configuracion' %}active{% endif %}" href="{% url 'configuracion' %}"
           data-bs-toggle="tooltip" data-bs-placement="right" title="Configuración">
          <i class="bi bi-gear"></i>
          <span class="label">Configuración</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 {% if request.resolver_match.url_name == 'perfil' %}active{% endif %}" href="{% url 'perfil' %}"
           data-bs-toggle="tooltip" data-bs-placement="right" title="Perfil">
          <i class="bi bi-person-circle"></i>
          <span class="label">Perfil</span>
        </a>
      </li>
    </ul>



    {% comment %} <div class="mt-auto px-3 py-3 small text-white-50">
      <span class="label">© {% now "Y" %} Focusa</span>
    </div> {% endcomment %}
  </div>
</nav>
