services:
  mysql:
    image: mysql:8.4
    container_name: focusa-mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=focusa_bd
      - TZ=America/Santiago
    ports:
      - "3307:3306"
    command:
      - mysqld
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:

