{% extends 'base.html' %}
{% load static %}

{% block content %} 
<h1>Dashboard</h1>
<p>este es el dashboard</p>
  <div id="chart"></div>
{% endblock %}

{% block extra_js %}
<script>
  const seriesData = {{ series|safe }};
  const labels = {{ labels|safe }};

  const options = {
    chart: { type: 'bar', height: 320, toolbar: { show: false } },
    series: [{ name: 'Valor', data: seriesData }],
    xaxis: { categories: labels }
  };
  new ApexCharts(document.querySelector("#chart"), options).render();
</script>
{% endblock %}